---
interface Props {
  className?: string;
  animate?: boolean;
}

const { className = '', animate = false } = Astro.props;
---

<div class={`relative w-full h-24 flex items-center justify-center overflow-hidden ${className}`}>
  <div class="absolute w-full h-8 bg-surface-container-high/40 rounded-full"></div>
  <div class={`w-full h-full opacity-30 waveform-mask ${animate ? 'waveform-animate' : ''}`}>
    <svg
      class="w-full h-full text-primary"
      preserveAspectRatio="none"
      viewBox="0 0 1200 100"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <path
        d="M0 50 L5 48 L10 52 L15 45 L20 55 L25 40 L30 60 L35 30 L40 70 L45 45 L50 55 L55 20 L60 80 L65 50 L70 50 L75 42 L80 58 L85 35 L90 65 L95 48 L100 52 L105 10 L110 90 L115 50 L120 45 L125 55 L130 30 L135 70 L140 50 L145 48 L150 52 L155 40 L160 60 L165 45 L170 55 L175 15 L180 85 L185 50 L190 48 L195 52 L200 42 L205 58 L210 35 L215 65 L220 50 L225 45 L230 55 L235 25 L240 75 L245 50 L250 48 L255 52 L260 40 L265 60 L270 45 L275 55 L280 10 L285 90 L290 50 L295 48 L300 52 L305 42 L310 58 L315 30 L320 70 L325 50 L330 45 L335 55 L340 20 L345 80 L350 50 L355 48 L360 52 L365 40 L370 60 L375 45 L380 55 L385 15 L390 85 L395 50 L400 48 L405 52 L410 42 L415 58 L420 35 L425 65 L430 50 L435 45 L440 55 L445 25 L450 75 L455 50 L460 48 L465 52 L470 40 L475 60 L480 45 L485 55 L490 10 L495 90 L500 50 L505 48 L510 52 L515 42 L520 58 L525 30 L530 70 L535 50 L540 45 L545 55 L550 20 L555 80 L560 50 L565 48 L570 52 L575 40 L580 60 L585 45 L590 55 L595 15 L600 85 L605 50 L610 48 L615 52 L620 42 L625 58 L630 35 L635 65 L640 50 L645 45 L650 55 L655 25 L660 75 L665 50 L670 48 L675 52 L680 40 L685 60 L690 45 L695 55 L700 10 L705 90 L710 50 L715 48 L720 52 L725 42 L730 58 L735 30 L740 70 L745 50 L750 45 L755 55 L760 20 L765 80 L770 50 L775 48 L780 52 L785 40 L790 60 L795 45 L800 55 L805 15 L810 85 L815 50 L820 48 L825 52 L830 42 L835 58 L840 35 L845 65 L850 50 L855 45 L860 55 L865 25 L870 75 L875 50 L880 48 L885 52 L890 40 L895 60 L900 45 L905 55 L910 10 L915 90 L920 50 L925 48 L930 52 L935 42 L940 58 L945 30 L950 70 L955 50 L960 45 L965 55 L970 20 L975 80 L980 50 L985 48 L990 52 L995 40 L1000 60 L1005 45 L1010 55 L1015 15 L1020 85 L1025 50 L1030 48 L1035 52 L1040 42 L1045 58 L1050 35 L1055 65 L1060 50 L1065 45 L1070 55 L1075 25 L1080 75 L1085 50 L1090 48 L1095 52 L1100 40 L1105 60 L1110 45 L1115 55 L1120 10 L1125 90 L1130 50 L1135 48 L1140 52 L1145 42 L1150 58 L1155 30 L1160 70 L1165 50 L1170 45 L1175 55 L1180 20 L1185 80 L1190 50 L1195 48 L1200 52"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
      ></path>
    </svg>
  </div>
</div>

<style>
  @keyframes waveform-pulse {
    0%, 100% { opacity: 0.3; }
    50% { opacity: 0.5; }
  }
  .waveform-animate {
    animation: waveform-pulse 4s ease-in-out infinite;
  }
</style>
